
<div class="footer mt-5">
    <div>
        <h4>MY ACCOUNT</h4>
        <div>Sign In</div>
        <div>Register</div>
        <div>Community</div>
    </div>

    <div>
        <h4>DISCOVER</h4>
        <div>Latest News</div>
        <div>Journaling</div>
        <div>Networking</div>
    </div>

    <div>
        <h4>ABOUT</h4>
        <div>Our Story</div>
        <div>Media</div>
        <div>Sustainability</div>
    </div>

    <div>
        <h4>LEGAL STUFF</h4>
        <div>Terms & Conditions</div>
        <div>FAQs</div>
        <div>Privacy Policy</div>
    </div>

    <div>
        <h4>Follow FABnosed</h4>
        <span><a routerLink="#" class="fa fa-facebook"></a></span>
        <span><a routerLink="#" class="fa fa-instagram"></a></span>
        <span><a routerLink="#" class="fa fa-twitter"></a></span>
        <span><a routerLink="#" class="fa fa-linkedin"></a></span>
    </div>
    <div class="ml-2 mt-5 text-light">©  FABnosed. All Rights Reserved
    </div>
</div>

