<div class="menu">
    <img src="assets/img/logo.PNG" alt="logo" class="menu-logo">

    <div class="">
        <div class="menu-item">
            <a routerLink="#">About</a>
        </div>
        <div class="menu-item">
                     <a routerLink="#">Services</a>
        </div>
            <div class="menu-item">
                <a routerLink="/explore">Explore</a>
        </div>
            <div class="menu-item">
                <a routerLink="#">Survivorship</a>
        </div>
            <div class="menu-item">
                <a routerLink="#">Contact</a>
        </div>
            <div class="menu-item">
                <a routerLink="/signup">Sign Up</a>
        </div>
            <div class="menu-item">
                <a routerLink="/login">SIGN IN</a>
        </div>
        
    </div>
</div>
