<app-menu-to-logout></app-menu-to-logout>

<div class="page d-flex">
    <div class="col-4 my-card mr-3 p-5">
        <h4>Contacts</h4>
        <div class="contacts scroll">
            <div *ngFor="let contact of profiles">
                <div class="d-flex  align-items-center">
                    <img src={{contact.img}}>
                    <div class="ml-4">
                        <p>{{contact.name}}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-8 my-card contact-review">
        <div class="d-flex p-2 align-items-center">
            <img src="assets/img/profile_picture.png">
            <div class="ml-4">
                <div>
                    <h3>John Smith</h3>
                    <button class="btn btn-primary mr-2">Zoom calls</button>
                    <button class="btn btn-primary">Messages</button>
                </div>


            </div>
        </div>
        <div class="">
            <h4>Description</h4>
            <div class="ml-3">
                <h5>Name: </h5>
                <p>John Smith</p>
                <h5>Age: </h5>
                <p>30</p>
            </div>
        </div>
        <div class="inline">
            <div>
                <h3>Public Journal</h3>
                <mat-list>
                    <mat-list-item>
                      <mat-icon mat-list-icon>public</mat-icon>
                      <p mat-line>Journal 1</p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>public</mat-icon>
                        <p mat-line>Journal 2</p>
                      </mat-list-item>
                  </mat-list>
            </div>
            <div>
                <h3>Profile message</h3>
                <mat-list>
                    <mat-list-item>
                      <mat-icon mat-list-icon>sms</mat-icon>
                      <p mat-line>How I can offer support</p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>sms</mat-icon>
                        <p mat-line>How I require support</p>
                      </mat-list-item>
                  </mat-list>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>