.login{
    background-color: #B7BBE5;
    div{
        margin-bottom: 1em;
        h1{
            color: white;
            font-weight: bold;
        }
    }
}
.fb-login{
    background-color: transparent;
    border: none;
    border-width: 1px;
    border: 1px solid #607DBF;
    color: white;
}
.apple-login{
    background-color: transparent;
    border: none;
    border-width: 1px;
    border: 1px solid white;
    color: white;
}
