<app-menu-to-login></app-menu-to-login>

<div class="page d-flex justify-content-center p-2">
    <div class="login col-12 d-flex flex-column align-items-center">
        <div class="mt-5">
            <h1>Log in to FABnosed</h1>
        </div>
        <div class="col-6">
            <a routerLink="/dashboard" class="apple-login w-100">Sign up with Apple</a>
        </div>
        <div class="col-6">
            <a class="fb-login w-100" routerLink="/dashboard">Sign up with Facebook</a>
        </div>
        <div>or sign up with your email: </div>
        <div class="col-6">
            <label>Email address</label>
            <input type="text" class="w-100 white-input">
        </div>
        <div class="col-6">
            <label class="">Password</label>
            <input type="text" class="w-100 white-input">
        </div>

        <div class="col-6">
            <label class="">Are you seeking  help for yourself or a loved one?</label>
            <div class="d-flex justify-content-around">
                <a routerLink="#" class="apple-login  col-5">Myself</a>
                <a routerLink="#" class="apple-login col-5">A loved one</a>
            </div>
            
        </div>
        <div class="col-6">
            <a routerLink="/dashboard" class="primary-button w-100" >Sign up</a>
        </div>
        <div class="col-6 mb-5">
            <span>
                <a class="secondary-button w-100" routerLink="/login">Already have an account? Log in</a> 
            </span>
        </div>
    </div>
    
</div>
<app-footer></app-footer>