:host{
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
 }

 a{
    color: black!important;
    text-decoration: none!important;
    cursor: pointer;
    display: inline!important;
    text-align: left;
    font-size: 18px!important;
}