<div class="menu">
    <img src="assets/img/logo.PNG" alt="logo" class="menu-logo">

    <div class="">
        <div class="menu-item">
            <a routerLink="/dashboard">Dashboard</a>
        </div>
        <div class="menu-item">
            <a routerLink="/explore">Discover</a>
        </div>
        <div class="menu-item">
            <a routerLink="/notification">Notifications</a>
        </div>
        <div class="menu-item">
            <mat-icon mat-list-icon>person</mat-icon>
            <a routerLink="/dashboard" class="btn">John Smith</a>
        </div>
        <div class="menu-item ">
            <a routerLink="/" class="btn btn-primary text-light">SIGN OUT</a>
        </div>

    </div>
</div>